@charset "UTF-8";

/* 
author: Robert Silva 
date: 01/12/2020
git: https://github.com/robertsilva4/API-php

*/

.campoError {
    color: red;
    font-size: 15px;
    height: 1px;
    margin: -10;
    padding: 0;
}